chemotion-converter-app @ git+https://github.com/ComPlat/chemotion-converter-app@master
mdutils ~= 1.7.0
click ~= 8.2.1
gemmi>=0.6.7
Werkzeug>=2.2.3
DateTime>=5.5
numpy>=2.2.6
defusedxml>=0.7.1
openpyxl>=3.0.10
xlrd>=2.0.1
opusFC>=1.5.0
jcamp>=1.2.2
markdown~=3.10
pyprojroot~=0.3.0
